body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(177, 177, 177);
}
.container{
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}
h1{
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}
form > div{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
label{
    margin-bottom: 5px;
    font-weight: bold;
    color: #444;
}
input{
    padding: 8px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.2s;
}
input:focus{
    border-color: #e96666;
    outline: none;
}
button{
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 250px;
    transition: background-color 0.3s;
}
.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;  
}
button[type="submit"] {
  background-color: #820000;
  color: white;
}

button[type="submit"]:hover {
  background-color: #570000;
}
button[type="button"] {
  background-color: #28a745;
  color: white;
}

button[type="button"]:hover {
  background-color: #1e7e34;
}